/* === CABEÇALHO === */

.cabecalho {
  background: linear-gradient(135deg, #2b5fd9, #3f7cff);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
