/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.layout {
  display: flex;
  height: 100%;
  min-height: 0;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;
  align-items: stretch;
}


// .layout {
//   display: flex;
//   gap: 2rem;
//   padding: 2rem;
//   align-items: stretch;
// }

.esquerda,
.direita,
:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.esquerda {
  flex: 2;
}

.direita {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  padding: 0.25rem;
}

@media (min-width: 768px) {
  .esquerda {
    flex: 2;
  }
  .direita {
    flex: 1;
  }
}
